<div class="row">
	<div class="col-md-8">
		<div class="content" data-aos="fade-left" data-aos-offset="500" data-aos-duration="500">
			<h2 class="title" [style.color]="titleColor">{{information.title}}</h2>
			<p>{{information.description}}</p>
		</div> <!-- .content -->
	</div> <!-- .col-md-8 -->
	<div class="col-md-4">
		<div class="content">
			<div class="info info-data" *ngFor="let list of information.lists; let i = index" data-aos="fade-left" [attr.data-aos-duration]="i * 500">
				<h2 class="title" [style.color]="titleColor">{{list.title}}</h2>
				<ul class="list-unstyled">
					<li *ngFor="let item of list.data">{{item}}</li>
				</ul>
			</div> <!-- .info -->
			<a data-aos="fade-left" data-aos-duration="1500" [href]="information.link"
				*ngIf="information.link">visit website</a>
		</div> <!-- .content -->
	</div> <!-- .col-md-4 -->
</div> <!-- .row -->
