@import './../variables.scss';

.navbar {
  background-color: $main-color;
  padding: 0;

  &-brand {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
    }

    @media(max-width:992px) {
      top: 1rem;
      left: 1rem;
      margin: unset;
      padding: 0;
    }
  }

  &-toggler {
    border: 1px solid rgba($white-color, .5);
    border-radius: 2px;
    color: $white-color;
    margin: 1rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    outline: none;
  }

  .navbar-menu-items .nav-link {
    border-bottom: 1px solid rgba($white-color, .5);
    padding-bottom: .1rem;
  }

  .nav-link {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    margin-right: 1rem;
    font-size: .8rem;
    color: rgba($white-color, .5);
    text-transform: capitalize;

    .fa {
      font-size: 1.2rem;
    }
  }

  @media(max-width:992px) {
    .navbar-nav:first-of-type {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1px solid rgba($white-color, .5);
      border-bottom: 1px solid rgba($white-color, .5);
    }

    .navbar-nav:last-of-type {
      border-bottom: 1px solid rgba($white-color, .5);
    }

    .nav-link {
      margin-right: 0;
      padding: 1rem !important;
      border-bottom: none !important;
      color: $white-color;
    }
  }
}

header,
main {
  height: 100vh;
}
