<section class="text-beside-image">
  <div class="project"
       *ngFor="let project of projects"
       [class.imgRight]="project.isImgRight">
    <div class="col-md-6 col-sm-12">
      <img [src]="project.image" [alt]="project.title" *ngIf="project.title && project.image" loading="lazy" />
    </div> <!-- .col-md-6 -->
    <div class="col-md-6 col-sm-12">
      <div class="content">
        <h2 class="title" *ngIf="project.title">{{ project.title }}</h2>
        <p *ngIf="project.description">{{ project.description }}</p>
        <div class="tools" *ngIf="project.tools">
          Tools used: <span *ngFor="let tool of project.tools">{{ tool }}</span>
        </div> <!-- .tools -->
      </div> <!-- .content -->
    </div> <!-- .col-md-6 -->
  </div> <!-- .item -->
</section>
