@import './../../../../_variables.scss';

.project {
	padding: 6rem 0;

	&.imgRight .col-md-6:last-child {
		order: -1;
	}

	img {
		width: 80%;
		margin: 0 auto;
		display: block;
		height: auto;
	}

	.content {
		width: 100%;

		p,
		.tools {
			font-size: 1.2rem;
			padding-left: 1.5rem;
		}

		h2 {
			margin-bottom: 1.5rem;
			color: $white-color;
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 2.7rem;
			text-transform: capitalize;
			letter-spacing: .05rem;
		}

		p {
			margin-bottom: 0;
			color: rgba($white-color, .8);
			line-height: 2rem;
		}

		.tools {
			margin-top: 1rem;
			color: $white-color;

			span {
				color: rgba($white-color, .7);

				&:after {
					content: ',';
					margin-right: 5px;
				}

				&:last-of-type:after {
					margin-right: 0;
					content: '';
				}
			}
		}
	}

	@media(max-width:600px) {
		&.imgRight .col-md-6:last-child {
			order: 1;
		}

		.content {
			text-align: center;
			padding: 1rem;

			h2 {
				font-size: 1.5rem;
			}

			p {
				padding-left: 0;
			}
		}
	}
}
