@import './../../../../_variables.scss';

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 0;

  @media(max-width:600px) {
    .content {
      text-align: center;
      padding: 1rem;

      h2 {
        font-size: 1.5rem !important;
      }
    }
  }

  &.imgRight .col-md-6:last-child {
    order: -1;
  }

  img {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: auto;
  }

  .content {
    width: 100%;

    p,
    .tools {
      font-size: 1rem;
      padding-left: 1rem;
    }

    h2 {
      margin-bottom: 1.5rem;
      color: $white-color;
      font-size: 1.7rem;
      font-weight: 700;
      line-height: 2.7rem;
      text-transform: capitalize;
      letter-spacing: .05rem;
    }

    p {
      margin-bottom: 0;
      color: rgba($white-color, .7);
    }

    .tools {
      margin-top: 1rem;
      color: $white-color;

      span {
        color: rgba($white-color, .7);

        &:after {
          content: ',';
          margin-right: 5px;
        }

        &:last-of-type:after {
          margin-right: 0;
          content: '';
        }
      }
    }
  }
}
