<div class="container">
  <div class="case-study-header text-center">
    <h2>
      Latest Case Studies
    </h2>
    <p>
      See how I apply my process by creating results and everlasting value for the clients I've had the pleasure
      collaborating with.
    </p>
  </div> <!-- .case-study-header -->

  <div class="row">
    <div class="col-md-6 col-xs-xs-12" 
         *ngFor="let case of [1, 2]; let isLast = last" 
         [attr.data-aos]="isLast ? 'fade-left' : 'fade-right'"
         data-aos-offset="500"
         [attr.data-aos-duration]="500 + (i * 1000)">
      <div class="cases text-center" routerLink="/project">
        <img src="https://d33wubrfki0l68.cloudfront.net/c57a287843285bf3b7e368b64c48af186b4c0610/edbfc/static/images/projects/chatter/preview/chatter-phone-right.png" alt="Picture">
        <div class="case">
          <h2>clique meet</h2>
          <p>connecting mutual groups.</p>
        </div> <!-- .case -->
      </div> <!-- .cases -->
    </div> <!-- .col-md-6 -->
  </div> <!-- .row -->
</div> <!-- .container -->
